<Form asp-action="Index">
<label> Nhập Mã http</label>
<input type="text " name ="MaHTPP">
<label> Nhập TenHTPP</label>
<input type="text " name ="TenHTPP">
<input type="submit" value=""
</Form>
<h1>In ra  Kết quả :@ViewBag.strOut</h1>
