<form asp-action="Index" method="post">
    <input type="text" name="MaDaiLy">
    <input type="text" name="TenDaiLy">
    <input type="text" name="DiaChi">
    <input type="text" name="NguoiDaiDien">
    <input type="text" name="DienThoai">
    <input type="text" name="MaHTPP">
    <input type="submit" value="Gửi">
</form>
<h1>Hiển thị các thông tin @ViewBag.info</h1>