<Form asp-action="Create">
<label> Nhập Mã http</label>
<input type="text " name ="PersonId">
<label> Nhập Fullname</label>
<input type="text " name ="Fullname">
<label> Nhập Address</label>
<input type="text " name ="Address">

<label> Nhập Age</label>
<input type="text " name ="Age">

<input type="submit" value="Gửi đến">
</Form>
<h1>Trả về nhân viên của năm @ViewBag.infoEmployee</h1>