@{
    ViewData["Title"] = "Index";
}
<h1>Dieuj từ controller gửi là : @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhap ID:</label>
    <input type="text" name="PersonId">
    <label>Nhap Fullname </label>
    <input type="text" name="FullName">
    <label>Nhap address </label>

    <input type="text" name="Address">
    <input type="submit" value="Gui du lieu">
</form>
