@model Person 
@{
    ViewData["Title"]="Index";
}

<from asp-action="Create">
    <label>Nhập Mã SV </label>
    <input type="text" name="Masinhvien" placeholder="Enter MSV">
    <label>Nhập FullName </label>
    <input type="text" name="Fullname"placeholder="Enter Fullname" >
    <input type="submit" value="Gửi đi " >
    
</from>
<h1>Dữ liệu trả về là : @ViewBag.Message</h1> <!--SD dl từ Controller gửi vể -->