@model Person 
@{
    ViewData["Title"]="Index";
}
<h1> Trang chủ của Person</h1>

<from asp-action="Index">
    <label>Nhập Mã SV </label>
    <input type="text" name="Masinhvien" placeholder="Enter MSV">
    <label>Nhập FullName </label>
    <input type="text" name="Fullname"placeholder="Enter Fullname" >
    <input type="submit" value="Gửi đi " >
    
</from>

 
@this.Path
