@model IEnumerable<MvcMovie.Models.Student>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p><a asp-action="Create">Create new</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
